# Prerequisites
.idea
cmake-build-*
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
2015-data/data/fhv_tripdata_2015-01.csv
2015-data/data/fhv_tripdata_2015-02.csv
2015-data/data/fhv_tripdata_2015-03.csv
2015-data/data/fhv_tripdata_2015-04.csv
2015-data/data/fhv_tripdata_2015-05.csv
2015-data/data/fhv_tripdata_2015-06.csv
2015-data/data/fhv_tripdata_2015-07.csv
2015-data/data/fhv_tripdata_2015-08.csv
2015-data/data/fhv_tripdata_2015-09.csv
2015-data/data/fhv_tripdata_2015-10.csv
2015-data/data/fhv_tripdata_2015-11.csv
2015-data/data/fhv_tripdata_2015-12.csv
2015-data/data/green_tripdata_2015-01.csv
2015-data/data/green_tripdata_2015-02.csv
2015-data/data/green_tripdata_2015-03.csv
2015-data/data/green_tripdata_2015-04.csv
2015-data/data/yellow_tripdata_2015-01.csv
2015-data/data/yellow_tripdata_2015-02.csv
2015-data/data/yellow_tripdata_2015-03.csv
2015-data/data/yellow_tripdata_2015-04.csv
2015-data/data/yellow_tripdata_2015-05.csv
2015-data/data/yellow_tripdata_2015-06.csv
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest.log
